header {
    background-color: darkcyan;
    text-shadow: darkgrey;
    color:white;
    position: fixed;
    display: flex;
    height:45px;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
  }
  